@model IEnumerable<PatientPortalApp.Models.Appointment>

@{
	ViewBag.Title = "Index";
}
<script src="~/Scripts/kendo/2021.3.914/pako_deflate.min.js"></script>


<h3>Visit the @Html.RouteLink("Patient Module", new { action = "Index", Controller = "Patients" }) to add a new appointment</h3>
<br />
@(Html.Kendo().Grid(Model)
	.Name("appointment_grid")
	.BindTo(Model)
	.Columns(columns =>
	{
		columns.Bound(a => a.PatientId).Title("Patient ID").HtmlAttributes(new { @class = "customAttr" });
		columns.Bound(a => a.Patient.FullName).Title("Name");
		columns.Bound(a => a.Reason);
		columns.Bound(a => a.AppointmentDate).Title("Date").Format("{0:MMM d, yyyy}");
		columns.Bound(a => a.AppointmentDate).Title("Time").Format("{0:hh:mm tt}");
		columns.Bound(a => a.Provider.ProviderName);
		columns.Bound(a => a.HasBalance).Title("Outstanding Balance").Template(t =>
		{
			if (t.Patient.CurrentBalance > 0)
			{
				return "Patient Has Balance of $" + t.Patient.CurrentBalance;
			}
			else
			{
				return "N/A";
			}
		});
	})
	.Groupable(g => g.ShowFooter(true))
	.Sortable(sortable => sortable
		.AllowUnsort(true)
		.SortMode(GridSortMode.MultipleColumn)
		.ShowIndexes(true))
	.RowAction(row =>
	{
		row.HtmlAttributes.Add("onclick", "location.href = '/Appointments1/Details/" + row.DataItem.PatientId + "'");
	})
	.ToolBar(toolbar =>
	{
		toolbar.Pdf().HtmlAttributes(new { @class = "btn btn-primary", style = "color: white;" });
	})
	.Pageable()
	.DataSource(source => source
	.Server()
	.PageSize(20)
	.Model(m =>
	{
		m.Id(a => a.AppointmentId);
		m.Field(a => a.AppointmentId).Editable(false);
	})
	.Create("Create", "Appointments1"))
	)

<script>

	$(document).ready(function () {
		var page = $("#appointment_grid").data("kendoGrid").dataSource.page();
		var breadcrumb = $(".k-breadcrumb-last-item").text("Page " + page);

		//center text in all elements with .customAttr assigned
		$(".customAttr").css("text-align", "center");
		//Find element with balance and color the text in that row red
		$('td:contains("Patient Has Balance of $")').parent().css("color", "red");
	});
</script>

<script type="x/kendo-template" id="page-template">
	<div class="page-template">
	  <div class="header">
		<div style="float: right">Page #: pageNum # of #: totalPages #</div>
		Patient List Export
	  </div>
	  <div class="watermark">Sample Patient Information</div>
	  <div class="footer">
		Page #: pageNum # of #: totalPages #
	  </div>
	</div>
</script>