@model IEnumerable<PatientPortalApp.Models.Appointment>

@using Kendo.Mvc.UI

@{
	ViewBag.Title = "AppointmentSchedule";
}

<h2>AppointmentSchedule</h2>

@(Html.Kendo().Scheduler<PatientPortalApp.Models.Appointment>()
	.Name("scheduler")
	.Date(new DateTime.)
	.Height(600)
	.Views( views =>
	{
		views.DayView();
		views.WorkWeekView(workWeekView => workWeekView.Selected(true));
		views.WeekView();
		views.MonthView();
		views.YearView();
		views.AgendaView();
		views.TimelineView();
	})
	.Timezone("Etc/UTC")
	.Resources(resource =>
	{

	})
    )